html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
  background: #12141a;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =================================Start of font family ============================= */
:root {
  --common-main-block-height: 442px;
  --common-inner-block-width: 412px;
  --common-inner-block-height: 231.75px;
  --background-color: #12141a;
  --theme-color: #7566ff;
  --focus-color: #7566ff;
  --text-color: #ffffff;
  --colors-texts-text-100: rgba(243, 247, 255, 1);
  --colors-accents-primary: rgba(117, 102, 255, 1);
  --colors-surface-surface-01: rgba(8, 10, 12, 1);

  --textfade-color: #919499;
  --primary-color: #161616;
  --secondary-color: #303030;
  --button-color: #121212;
}

@font-face {
  font-family: "Manrope-Regular";
  src: url("../resources/fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-Medium";
  src: url("../resources/fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("../resources/fonts/Manrope-Bold.ttf") format("truetype");
}

/* =================================End of font family ============================= */

/* =================================Start of Splash Screen ============================= */

.splash-screen-container {
  display: block;
}

.splash-screen {
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.splash-screen img {
  width: 50%;
  height: auto;
}

/* =================================End of Splash Screen ============================= */

/* =================================Start of loader container ============================= */

.loader_container {
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.loader {
  margin: 100px auto;
  width: 120px;
  height: 120px;
  position: relative;
  animation: rotate 2s infinite linear;
}

.circle_loader {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--theme-color);
  animation: spin 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* =================================End of loader container ============================= */

/* =================================Start of Common classes ============================= */

.row_heading {
  color: var(--text-color);
  font-size: 24px;
  padding: 0 0;
  height: 2rem;
  margin: 10px 0;
}

.image-gallery-row-heading,
.playlist-row-heading {
  color: var(--text-color);
  padding: 0 0;
  height: 2rem;
  font-family: "Manrope-Bold";
  font-size: 24px;
  font-weight: 600;
  line-height: 2rem;
  text-align: left;
  margin: 12px 0;
}

.shift-margin-left {
  margin-left: 230px !important;
}

.main-content-box {
  margin-left: 110px;
  height: 100%;
}

/* =================================End of Common classes ============================= */

/* =================================Start of sidebar-container Screen ============================= */

.sidebar-container {
  width: 110px;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  float: left;
  position: fixed;
  background: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 1;
}

.profile {
  width: 230px;
  text-align: center;
  height: 140px;
  position: relative;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile li {
  margin: 1.5rem 0;
}

.profile li img {
  width: 40px;
  height: 40px;
}

.menu-container {
  width: 230px;
  height: 723px;
  padding: 60px 0px 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toggle_menu {
  width: 230px !important;
}

.settings {
  width: 230px;
  height: 217px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .menu-box.selected-manu svg {
  fill: var(--text-color);
}

.menu .menu-box:focus .menu-text {
  color: var(--text-color);
}

.menu .menu-box:focus svg {
  fill: var(--text-color);
}

.menu .menu-box:focus .menu-icon-bg {
  background: rgba(176, 169, 241, 0.2);
}

.menu-box {
  width: 100%;
  display: flex;
}

.menu-icon {
  width: 110px;
  display: flex;
  justify-content: center;
}

.menu-icon-bg {
  width: 54px;
  height: 54px;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.menu-icon svg {
  fill: #9da0a6;
  width: 40px;
  height: 40px;
  padding: 7px;
}

.menu-text {
  width: 120px;
  display: block;
  color: #919499;
  font-size: 1.6rem;
  position: relative;
  padding: 18px 0 0 0;
  text-align: left;
}

.menu-container .menu-box {
  margin: 20px 0;
}

/* =================================End of sidebar-container Screen ============================= */
/* =================================Start of top navbar container Screen ============================= */
.header-container {
  width: 100vw;
  height: 140px;
  z-index: 9999;
  position: absolute;
}

.header-section {
  position: fixed;
  width: 100%;
  height: 152px;
  top: 0;
  left: 0;
  background-color: var(--background-color);
}

.header-navigation {
  color: var(--text-color);
  justify-content: center;
  overflow-x: hidden;
  width: 1488.89px;
  height: 90px;
  padding: 0px 30px 0px 30px;
  margin: 15px 0;
}

.nav-items {
  /* width: 901px;
  height: 64px;
  padding: 0px 36px 0px 36px;
  margin: 20px 0;
  border-radius: 50px 0px 0px 0px;
  display: flex;
  overflow-x: hidden; */

  width: 970px;
  height: 64px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 36px 0px 36px;
  /* gap: 20px; */
  border-radius: 50px;
  overflow-x: hidden;
}

.nav-items .nav-item {
  font-size: 2rem;
  font-weight: 700;
  width: 202px;
  height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  font-family: "Manrope-Bold";
  color: var(--text-color);
  padding: 13px 40px 13px 40px;
  gap: 30px;
  border-radius: 50px;
}

.nav-items .nav-item.selected-nav {
  background: rgba(8, 10, 12, 0.7);
  /* border-radius: 50px; */
}

.nav-item:focus {
  background-color: var(--theme-color) !important;
  /* border-radius: 50px; */
}

.header-logo {
  width: 260px;
  height: 90px;
}
/* =================================End of top navbar container Screen ============================= */

/* =================================Start of Main container Screen ============================= */

.main-container {
  /* width: calc(100vw - 110px); */
  height: 100vh;
  float: right;
  right: 0;
  width: 100vw;
}

/* =================================End of Main container Screen ============================= */

/* =================================Start of Login container Screen ============================= */

.login_container {
  display: none;
  width: 100vw;
  height: 100vh;
  float: right;
  right: 0;
  top: 0;
  position: absolute;
  background-image: url("../../assets/login_bg.png");
  background-size: cover;
  background-position: center;
  color: var(--text-color);
}

.login-logo-box {
  height: 140px;
  display: flex;
  justify-content: end;
}

.login-logo {
  right: 0;
  height: 90px;
  width: 337.36px;
  margin: 25px 0;
  text-align: right;
  position: absolute;
  padding: 0px 60px 0px 0px;
}

.login-logo img {
  width: 100%;
  height: auto;
}

.login-instruction-box {
  width: 100vw;
  height: 940px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 60px 200px 180px 100px;
  margin: 60px;
}

.instruction-container {
  width: 1620px;
  /* height: 600px;
  padding: 60px 200px 180px 100px;
  margin: 60px; */
}

.login-heading {
  width: 1620px;
  height: 52px;
  margin: 0 0 60px 0;
}

.login-heading h3 {
  width: 100%;
  height: 52px;
  font-family: "Manrope-Regular";
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
  color: var(--text-color);
}

.login-box {
  width: 1620px;
  height: 324px;
  margin: 70px 0;
  display: flex;
  justify-content: space-between;
}

.step-container {
  width: 862px;
  height: 324px;
  /* padding: 40px; */
}

.steps {
  display: flex;
  font-family: "Manrope-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  /* margin-top: 40px; */
}

.steps h3 {
  width: 100px;
  height: 32px;
  font-family: "Manrope-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #f3f7ff;
}

.instruction {
  width: 488px;
  height: 32px;
  font-family: "Manrope-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  width: 492px;
  height: 124px;
  /* margin: 20px; */
}

.steps .instruction .qr-link {
  width: 920px;
  height: 52px;
  font-family: "Manrope-Regular";
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
  color: #8c80ff;
  margin: 10px 0;
}

.login-code {
  margin: 15px 0;
  width: 528px;
  display: flex;
}

.login-code div {
  width: 72px;
  height: 72px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgba(8, 10, 12, 0.7);
  font-family: "Manrope-Regular";
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
  color: var(--text-color);
}

.qr-container {
  width: 274.02px;
  height: 320.02px;
  /* gap: 14px;
  opacity: 0px; */
}

.qr-text {
  width: 206px;
  height: 32px;
  font-family: "Manrope-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  background: #f3f7ff;
}

.qr-code {
  width: 274.02px;
  height: 274.02px;
  border-radius: 20.92px;
  background: var(--text-color);
}

.qr-code-title {
  font-family: "Manrope-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  margin-bottom: 12px;
}

.qr-code img {
  width: 214.78px;
  height: 214.78px;
  top: 29.62px;
  left: 29.62px;
  background: #000000;
  position: relative;
}

.top-login-divider {
  width: 1710px;
  height: 0px;
  top: 244px;
  left: 100px;
  opacity: 0.3;
  border: 1px solid var(--text-color);
}

.bottom-login-divider {
  width: 1710px;
  height: 0px;
  top: 688px;
  left: 100px;
  opacity: 0.3;
  border: 1px solid #f3f7ff;
}

.instruction-container hr {
  top: -15px;
  width: 75px;
  opacity: 1;
  border: none;
  position: relative;
  /* border-bottom: 1px solid #f3f7ff; */
  border-bottom: 1px solid var(--text-color);
}

/* =================================End of login container Screen ============================= */

/* =================================Start of Home Screen CSS ============================= */

.maestro-container {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
}

.home_container,
.video-player-container,
.page_container {
  display: none;
}

.home_container,
.page_container {
  width: 100vw;
  height: 1080px;
  display: block;
  position: absolute;
  overflow-y: hidden;
}

.home-screen-section {
  margin-top: 152px;
}

/* Start of banner CSS */
.banner-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.banner-container .col-sm-12 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.banner-container img {
  width: 100%;
  height: 100%;
}

.banner-overlay {
  position: relative;
  top: 140px;
  color: var(--text-color);
  padding: 155px 0 0 0;
  width: calc(100vw - 110px);
  height: 740px;
  /* margin-left: 110px; */
}

.banner-content-detail-box {
  width: 1740px;
  height: 430px;
  gap: 30px;
}

.banner-content-detail-left,
.banner-content-detail-right {
  width: 870px;
  max-height: 252px;
  gap: 12px;
}

.banner-content-title {
  width: 870px;
  max-height: 144px;
  gap: 0px;
  font-family: "Manrope-Regular";
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner-content-description {
  width: 870px;
  height: 96px;
  margin: 12px 0;
  font-family: "Manrope-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 96px;
}

.banner-content-buttons {
  width: 870px;
  height: 144px;
  margin: 30px 0 0 0;
  display: grid;
}

.banner-button {
  width: 268px;
  height: 64px;
  padding: 12px 40px 12px 40px;
  border-radius: 100px;
  border: 2px 0px 0px 0px;
  display: grid;
  place-items: center;
  font-family: "Manrope-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: right;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.banner-button.primary_cta {
  background: transparent;
  border: 2px solid var(--theme-color);
}

.banner-button.primary_cta:focus {
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
}

.banner-button.secondary_cta {
  background: transparent;
  border: 2px solid var(--text-color);
}

.banner-button.secondary_cta:focus {
  color: #000000;
  background: var(--text-color);
  border: 2px solid var(--text-color);
}

.content-container {
  width: 100vw;
  height: auto;
  top: 52rem;
  position: absolute;
}

/* End od banner CSS */

/* Start of common item CSS  */

.item-container {
  display: block;
  width: 100%;
  height: 442px;
  margin: 0;
  padding: 20px 0;
  /* margin-left: 110px; */
  background: var(--colors-surface-surface-01);
}

.pages-row-slider {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: 352px;
}

/* End of common item CSS  */

/* Start of image gallery CSS  */

.image-gallery-container {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 0;
  /* margin-left: 110px; */
}

.image-gallery-slider {
  float: right;
  width: 100000000px;
  position: absolute;
  overflow-x: hidden;
  display: flex;
}

.image-gallery-container .col-sm-3 {
  /* width: 412px; */
  height: 100%;
  margin: 0.2rem 1.5rem 0.2rem 0rem;
  color: var(--text-color);
  display: grid;
}

.image-gallery-container img {
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-radius: 10px;
}

.image-gallery-container::after {
  content: "";
  display: table;
  clear: both;
}

.image-gallery-item::after {
  content: "";
  display: table;
  clear: both;
}

.image-gallery-item-label {
  font-family: "Manrope-Medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  height: 16px;
  color: var(--text-color);
}

.image-gallery-item-title {
  font-family: "Manrope-Bold";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  height: 28px;
  color: var(--text-color);
}

.image-gallery-item-desc {
  font-family: "Manrope-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  height: 96px;
  color: rgba(194, 197, 204, 1);
}

.image-gallery-item-button {
  padding: 12px 0;
}

.image-gallery-item:focus .image-gallery-image-box img {
  border: 4px solid var(--text-color);
}

/* End of image gallery CSS  */

/* Start of playlist CSS  */
.playlist-container {
  display: block;
  /* width: 1810px; */
  height: 442px;
  margin: 0;
  padding: 20px 0;
  /* margin-left: 110px; */
}

.playlist-container .col-sm-3 {
  width: 412px;
  height: 352px;
  margin: 0.2rem 1.5rem 0.2rem 0rem;
  color: var(--text-color);
  display: grid;
  padding: 12px;
}

.playlist-item-container {
  position: relative;
  overflow-x: hidden;
  height: 352px;
}

.playlist-item {
  width: 376px;
  height: 323.5px;
  display: grid;
  gap: 18px;
  margin: 0 auto;
}

.playlist-image-box {
  width: 376px;
  height: 211px;
  border-radius: 10px;
}

.playlist-item img {
  /* border: 4px solid transparent; */
  border-radius: 10px;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.outer-playlist-box:focus .playlist-item .playlist-image-box img {
  /* border: 4px solid var(--text-color); */
  /* width: 412px;
  height: 321.75px; */
  transform: scale(1.1, 1.1);
  border: 1px solid var(--colors-accents-primary);
}

.playlist-item-details {
  width: 372px;
  height: 91px;
  display: grid;
  gap: 6px;
}

.playlist-item-title {
  width: 100%;
  height: 32px;
  gap: 0px;
  font-family: "Manrope-Bold";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: var(--colors-texts-text-100);
}

.playlist-item-desc {
  width: 100%;
  height: 56px;
  gap: 0px;
  opacity: 0px;
  font-family: "Manrope-Regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: rgba(194, 197, 204, 1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  max-height: 56px;
}
/* End of playlist CSS  */

/* Start of page block CSS  */

.page-row-item {
  display: grid;
  /* place-items: center;
  align-items: center; */
  border-radius: 5px;
  font-size: 30px;
  font-weight: 800;
  /* background-color: #242438; */
  /* border: 4px solid transparent; */
  width: 412px;
  height: 352px;
  padding: 10px;
  margin: 0px 10px 0 10px;
}

.page-row-item-inner {
  background: linear-gradient(-36deg, #12141a 50%, #1b1e26 50%);
  width: 376px;
  height: 211.5px;
  gap: 0px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  transition: transform 0.3s ease;
  margin: 10px 0;
}

.page-row-item-inner .item-title {
  position: absolute;
  width: 412px;
  height: auto;
  text-align: center;
  line-height: 100px;
  color: var(--text-color);
}

.page-row-item:focus .page-row-item-inner {
  transform: scale(1.1, 1.1);
  border: 1px solid var(--colors-accents-primary);
}

/* End of image gallery CSS  */

/* Start of text banner CSS  */

.textbanner_content {
  width: 1810px;
  height: 497px;
  /* left: 339.94px; */
  /* padding: 100px 60px 100px 60px; */
  /* margin: 10px; */
  background: rgba(18, 20, 26, 1);
  /* border: 1px solid var(--theme-color); */
  left: 110px;
  position: relative;
  display: grid;
  place-items: center;
  /* margin: 1px; */
  /* top: 252.6px; */
}

.text-banner-overlay {
  position: relative;
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  float: left;
  text-align: left;
  width: 1691px;
  height: 300px;
  gap: 40px;
}

.textbanner_buttons {
  display: grid;
  place-items: center;
}

.textbanner_sub_heading {
  width: 1691px;
  height: 28px;
  font-family: "Manrope-Regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: var(--theme-color);
}

.textbanner_title {
  width: 1691px;
  height: 52px;
  font-family: "Manrope-Regular";
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
  color: var(--text-color);
}

.textbanner_description {
  width: 1691px;
  height: 96px;
  font-family: "Manrope-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: rgba(194, 197, 204, 1);
}
/* End of text banner CSS  */

/* Start of video spot light CSS  */

.videoSpotlight-container {
  width: 100%;
  height: 598.44px;
  /* margin-left: 110px; */
  padding: 0;
  margin: 0;
}

.videoSpotlight-inner-box {
  width: 1750px;
  height: 478.44px;
  /* gap: 80px;
  margin: 0 auto !important; */
  margin: 0;
}

.videoSpotlight-container:first-child {
  position: relative;
  /* padding: 0 20px; */
  display: list-item;
  width: 1690px;
  height: 462px;
}

.videospotlight-text-box {
  place-items: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--text-color);
  display: block;
  height: auto;
  text-align: left;
}

.videospotlight-text-box h3 {
  margin: 0.6rem 0.2rem;
  font-family: "Manrope-Regular";
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
}

.videospotlight-text-box h4 {
  font-family: "Manrope-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.image-wrapper {
  width: 100%;
  position: relative;
  display: grid;
  width: 835px;
  height: 478.44px;
  padding: 10px;
  border-radius: 10px;
  aspect-ratio: 16/9;
}

.videospotlight-text-box:nth-child(2) {
  font-size: 1.6rem;
}

.videoSpotlight-container img {
  border-radius: 10px;
  display: block;
  position: relative;
  width: 835px;
  height: 478.44px;
  /* transition: transform 0.3s ease; */
}

.videoSpotlight-container .col-sm-12:focus .banner-button {
  /* transform: scale(1.1); */
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
}
/* End of video spot light CSS  */

/* Start of Image And Text CSS  */

.text-image-wrapper {
  width: 85%;
  height: 22rem;
  position: relative;
  padding: 0;
  display: inline-block;
  background-color: #242438;
  border-radius: 10px;
}

.text-image-wrapper img {
  width: 100%;
  height: 100%;
}

.image-text-box {
  font-size: 2rem;
  color: var(--text-color);
  margin: 8px 0;
}

.image-text-box p {
  margin: 1rem 0;
}

.imagetext-container {
  width: 100%;
  height: 573px;
  padding: 0;
  margin: 0;
  position: relative;
  /* left: 110px; */
}

.imagetext-container .col-sm-12:focus .banner-button {
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
}

/* End of Image And Text CSS  */

/* Start of video player CSS  */

.video-player-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.video-player-container {
  display: none;
  width: 100vw;
  height: 100vh;
}

.video-player {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.vjs-control-bar {
  height: 8.813rem;
}

/* End of video player CSS  */
