<div class="header-container">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-sm-12 d-flex justify-content-start">
        <div class="col-sm-4">
          <p id="headerTitle">Your brand</p>
          <img id="headerLogo" src="" alt="" />
        </div>
        <div
          class="col-sm-4 flex-grow-1 d-inline-flex align-items-center header-navigation"
          id="headerNavigation"
        >
          <!-- <div class="nav-item">Flex item 1</div>
          <div class="nav-item">Flex item 2</div>
          <div class="nav-item">Flex item 3</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
